*{
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;
    text-decoration:none;
    list-style-type:none;
}
header{
    background-image:url('./img/banner-bg.jpg');
    width:100%;
    height:90vh;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}
.left-header-box{
    width:40%;
    height:90vh;
    background:rgba(0,0,0.9,0.5);

    float:left;
   
    
}
.header-logo{
    margin-left:30%;
    margin-top:10%;
}
.header-heading{
    color:#fff;
    font-weight:600;
    margin-left:30%;
    margin-top:20%;
}
.header-sub-box1{
    width:300px;
    margin-top:7%;
    height:60px;
    margin-left:30%;
    background:rgba(0,0.6,0.5,0.5);
    
}
.header-sub-box2{
    width:300px; 
    margin-top:3%;
    height:60px;
    margin-left:30%;
    background:rgba(0,0.6,0.5,0.5);
   

}
.header-sub-box3{
    width:300px;
    margin-top:3%;
    height:60px;
    margin-left:30%;
    margin-bottom:15%;
    background:rgba(0,0.6,0.5,0.5);
   
}
.header-text{
    float:left;
    color:#fff;
    margin-top:20px;
    margin-left:10px;
    
}
.header-sub-logo{
    float:right;
    margin-top:3px;
    height:100%;
    margin-left:20px;
    right:0;
   
}
.right-header-box{
    float:right;
    width:60%;
    height:90vh;


}
.booking-widget{
    width:50%;
    height:45vh;
    background:#fff;
    z-index:999;
    margin-left:13%;
    margin-top:20%;
    opacity:90%;
}
.widget-heading{
    padding-top:30px;
    padding-left:35px;
    opacity:80%;
}
.location{
    display:flex;
    margin-left:4px;
    margin-top:6%;
    margin-right:5%;
    margin-bottom:4%;
}
.location-box{
    width:150px;
    height:50px;
    margin-left:5%;
    margin-top:5%;
    margin-right:2%;
    background:rgb(233, 229, 229);
    opacity:50%;
    border:none;

}
.label-box{
    margin-left:2%;
    font-size:10px;
    font-weight:800;
}
.label2{
    margin-left:8%;
}
.date{
    display:flex;
    margin-left:4px;
    margin-top:6%;
    margin-right:5%;
}
.date-box{
    width:250px;
    height:50px;
    margin-left:2%;
    margin-top:5%;
    margin-right:2%;
    background:rgb(233, 229, 229);
    opacity:50%;
    border:none;
}
.location1{
    margin-left:2%;
}
.box3{
    margin-right:10%;
}
.order{
    margin-top:7%;
    margin-left:3%;
}
.order-button{
    margin-left:26%;
    background:#EBC527;
    padding: 15px 15px;
    color:#000;
    font-size:13px;
}
.round{
    margin-left:3%;
    font-size:12px;
    font-weight:600;
}
.one-way{
    font-size:12px;
    font-weight:600;
}
.contact{
    margin-left:30%;
    margin-top:20%;
    color:#000;
    font-weight:800;
    font-size:23px;
    background:#FFF565;
    width:600px;
    padding:25px 50px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.weather{
    width:100%;
    height:180vh;
}
.weather-heading{
    text-align:center;
    margin-top:5%;
    font-weight:800;
}
.weather-board{
    width:80%;
    height: 85vh;
    margin:5% 10%;
    background-image:url('./img/weather-bg.jpg');
    background-size:cover;
    background-position:center;

}
.navbar{
    display:flex;
    width:100%;
    background:#4A5461;
    height:85px;
   
}
.navbar li{
    padding:3% 7%;
}
.monday{
    background:#FFF565;
}
.navbar li a{
    color:#fff;
    font-weight:800;
    font-size:15px;
}
.weather-box{
    width:30%;
    height:55vh;
    margin:30px 15px;
    display:inline-block;
    background:rgba(.5,0.5,0.3,0.4);
    opacity:70%;
}
.weather-text{
    text-align:center;
    margin-top:2%;
    color:#fff;
    font-weight:800;
    font-size:23px;
}
.weather-icon{
    margin-top:15%;
    margin-left:42%;
}
.weather-number{
    margin-left:42%;
    font-weight:800;
    font-size:20px;
    margin-top:3%;
    color:#fff;
}
.weather-alert{
    width:80%;
    height:20vh;
    margin-top:6%;
    margin-left:10%;

    background:#DDD9E1;
}
.nav1{
    display:flex;
    width:100%;
}
.nav1 li{
    padding:15px 17px;
    margin-top:6%;
    font-weight:600;
    font-size:13px;
}
.nav2{
    display:flex;
    width:100%;
}
.nav2 li{
    padding:15px 17px;
    margin-top:4%;
    font-weight:600;
    font-size:13px;
    margin-left:1.5%;
    background:#fff;
    opacity:70%;

}
.weather-subbox{
    width:25%;
    height:30%;
    background:#40348A;
    display:inline-block;
    margin-left:6%;

}
.weather-image{
    margin-left:40%;
    margin-top:20%;
}
.weather-sub-text{
    text-align:center;
    margin-top:15%;
    color:#fff;
}
.sub-para{
    color:#fff;
    margin-left:10%;
    width:80%;
    margin-top:10%;
}
.weather-subbox:hover{
    background:#FFF565;
   

}
.left-hand{
    float:left;
    width:45%;
    height:100vh;
    
}


.recommend{
    width:100%;
    height:100vh;
}
.recommend-heading{
    text-align:center;
    font-weight:800;
    Padding-bottom:100px;
}
.recommend-box{
    width:300px;
    margin-top:1%;
    height:60px;
    background:#40348A;
    margin-left:10%;
}
.recommend-sub-box1{
    color:#000;
    background:#FFF565;
}
.recommend-sub-box1 .rec-head{
    color:#000;
}
.rec-head{
    margin-left:8%;
}
.showroom{
    width:50%;
    height:50vh;
    background-image:url('./img/suite-03.jpg');
    background-size:cover;
    float:right;
    margin-right:5%;
}
.showroom .show-content{
    width:100%;
    height:80px;
    background:rgba(24,62,120,0.6);
    margin-top:48.5%;
}
.show-text1{
    color:#fff;
    font-weight:800;
    font-weight:18px;
    margin-left:2%;
}
.show-para1{
    color:#fff;
    font-weight:400;
    margin-left:2%;
    margin-top:1%;
}
.places{
    width:100%;
    height:70vh;
    clear:both;
    background:#FEFDDE;
    position:relative;
  
}
.places-heading{
    text-align:center;
    padding-top:3%;
}
.places-container{
    width:100%;
    margin-top:4%;
    display:flex;
    clear:both;
    padding:20px 40px;
  
    height:100vh;
}
.place-box{
    display:inline-block;
    width:18%;
    height:30vh;
    margin:3% 3%;
}
.places-box1{
    background-image:url('./img/place-01.jpg');
    background-size:cover;
}
.places-box2{
    background-image:url('./img/place-02.jpg');
    background-size:cover;
}

.places-box3{
    background-image:url('./img/place-03.jpg');
    background-size:cover;
}
.places-box4{
    background-image:url('./img/place-04.jpg');
    background-size:cover;
}
.places-sub1{

    background:rgba(239,235,242,0.8);
    height:10vh;
    width:100%;
    margin-top:55%;
    
}
.places-sub-text1{
    padding:2px 8px;

}
.places-sub-para1{
    padding:10px 8px;
}
.footer{
    width:100%;
    height:50vh;
    background:#14457D;
}
.btn-top{
    background:#E8BD37;
    color:#000;
    margin-left:45%;
    margin-top:20%;
    padding:15px 10px;
    transition:0.8s;
    transform:scale(1.2);
}
.iconbar{
    display:flex;
    width:30%;
    margin-top:6%;
    margin-left:37%;
    
}
.iconbar li img{
    width:100px;
    height:100px;
}
.footer-para{
    margin-left:30%;
    color:#fff;
}
.place-box:hover{
    animation-name: slidein;
    animation-duration:2s;
}
@keyframes slidein {
    0%{
        margin-top:4%;
        background-color:#C31DF5;
    }
    55%{
        margin-bottom:3%;
        background-color:#FFF565;
    
    }
    100%{
        width:18%;
        height:30vh;
        margin:3% 3%;
    }
}


